.navbar{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -50px;
	position: fixed;

}
#homenavbar:focus{
	color:#db2792;
	text-decoration: none;
	padding-right: 10px;
}
#homenavbar{
	color:black;
	text-decoration: none;
	padding-right: 10px;
}
#aboutnavbar:focus{
	color:#db2792;
	text-decoration: none;
	padding-right: 10px;
}
#aboutnavbar{
	color: black;
	text-decoration: none;
	padding-right: 10px;
}
#eventnavbar:focus{
	color:#db2792;
	text-decoration: none;
	padding-right: 500px;
}
#eventnavbar{
	color: black;
	text-decoration: none;
	padding-right: 500px;
}
#loginnavbar:focus{
	color:#db2792;
	text-decoration: none;
	
}
#loginnavbar{
	color: black;
	text-decoration: none;
	padding-right: 25px;
}
#signupnavbar:focus{
	color:#db2792;
	text-decoration: none;
	padding-right: 5px;
}
#signupnavbar{
	color: black;
	text-decoration: none;
	padding-right: 5px;
}

#logopointerimg{
	width: 50px;
	height: 40px;
	padding-left: 10px;

}
#appname{
	font-size: 25px;
	padding-right: 10px;
	color: #db2792;
}
#teamnavbar:focus{
	color:#db2792;
	text-decoration: none;
	padding-right: 10px;
}
#teamnavbar{
	color: black;
	text-decoration: none;
	padding-right: 10px;

}
.homepagebdy{
    background-image: url(../image/homepagebackgrnd.jpeg);
    margin-left: 250px;
	margin-right: 100px;
	margin-top: 80px;
	color: white;
	background-repeat: no-repeat;
	width: 800px;
	height: 500px;
	text-align-last: center;
	margin-bottom: 100px;
}
.homecontent1{
	text-align-last: center;
	padding-top: 100px;
	font-size: 40px
}
.homecontent2{
	text-align-last: center;
	padding-top: 10px;
}
#homebutton{
	border-radius: 10px;
	width: 120px;
	height: 25px;
	background-color: #db2792;
	border-color: #db2792;
    color: white;

}
.slidecontainer{
	margin-left: 250px;
	margin-right: 100px;
	margin-top: 50px;
	
}
.slideimage{
	width: 800px;
	height: 400px;
	margin-top: 50px;

}
.about_page_content{
	position: absolute;
	margin-top: -200px;
	background-color: #8a206f;
	width: 400px;
	height: 300px;
	color: white;
	text-align-last: center;
	margin-left: 300px;
	padding-left: 20px;

}
#myBtn{
	background-color: #1d3359;
	border-color: #1d3359;
	color: white;
	border-radius: 10px;
	width: 120px;
	height: 25px;

}